@import url(vendor/bootstrap/css/bootstrap.min.css);
@import url(vendor/codemirror/lib/codemirror.css);
@import url(vendor/codemirror/theme/blackboard.css);
@import url(vendor/highlight/styles/foundation.css);

body {
	font-family: sans-serif;
}

figure {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
}

figure > samp {
	display: block;
	white-space: pre-wrap;
	box-sizing: border-box;
	padding: 10px;
	line-height: 1.4;
	overflow-x: auto;
	min-width: 20em;
	max-height: 25em;
	overflow-y: auto;
	font-size: 80%;
	line-height: 1;
	font-family: monospace;
	flex: 1;
	border-left: 5px solid transparent;
}

figure > samp.running {
	border-left-color: yellow;
}

figure > samp.success {
	border-left-color: green;
}

figure > samp.error {
	border-left-color: red;
}

.markdown {
	display: none;
}

.CodeMirror {
	min-width: 20em;
	height: auto;
	padding: 5px 10px 10px 0;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}
