@import url(vendor/bootstrap/css/bootstrap.min.css);
@import url(vendor/codemirror/lib/codemirror.css);
@import url(vendor/codemirror/addon/lint/lint.css);
@import url(vendor/codemirror/theme/blackboard.css);
@import url(vendor/highlight/styles/foundation.css);

body {
	font-family: sans-serif;
	background-color: #fff;
}

figure {
	/*display: flex !important;*/
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px 0;
}

figure:not(.leaf) {
	text-align: center;
	margin: 20px;
}

figure > samp {
	display: block;
	white-space: pre-wrap;
	box-sizing: border-box;
	padding: 10px;
	line-height: 1.4;
	overflow-x: auto;
	min-width: 20em;
	max-height: 50em;
	overflow-y: auto;
	font-size: 80%;
	line-height: 1;
	font-family: monospace;
	flex: 1;
	border-left: 5px solid transparent;
}

figure > samp.running {
	border-left-color: yellow;
}

figure > samp.success {
	border-left-color: green;
}

figure > samp.error {
	border-left-color: red;
}

[data-markdown] {
	display: none;
}

[data-element] {
	position: relative;
	cursor: text;
	border: 1px solid transparent;
}

[data-element]:focus {
	/*background-color: #fff;
	border-color: #eee;*/
	outline: none;
}

[data-element]::before {
	content: attr(data-element);
	display: inline-block;
	position: absolute;
	top: 0;
	right: 100%;
	/*
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	*/
	color: gray;
	text-align: right;
	height: 2em;
	margin-right: 10px;
	opacity: 0.1;
	cursor: pointer;
}

[data-element]::before:hover {
	opacity: 0.1;
}

.CodeMirror {
	min-width: 20em;
	height: auto;
	padding: 5px 10px 10px 0;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}
