body {
	font-family: sans-serif;
}

xmp {
	display: none;
}

figure {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
}

figure > code,
figure > samp {
	display: block;
	white-space: pre-wrap;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px 0;
	line-height: 1.4;
	overflow-x: auto;
	min-width: 20em;
}

figure > samp {
	max-height: 20em;
	overflow-y: auto;
	font-size: 80%;
	line-height: 1;
	font-family: monospace;
	flex: 1;
}

figure > samp.error {
	border: 2px solid #f00;
}
